## Establishing a MongoDB

In [1]:
# Import the Python MongoDB driver
import pymongo

In [2]:
# Make a MongoDB client that connects to the default MongoDB URI (Unique Resource Identifier)
test_client = pymongo.MongoClient('mongodb://localhost:27017/')

In [3]:
# Make a new DB 
db_name='test_db'

In [4]:
# Attach the client to the DB
test_db = test_client[db_name]
# test_db is a client that operates on the DB, we use this to make chages to the DB

In [5]:
# Make a new collection that resides in the DB
collection_name='test_collection'
test_col = test_db[collection_name]

In [6]:
# Let's make some information to be stored. Just one record should do fine.
test_input_01 = { "surname": "Bonaparte", "address": "Cafe Theatre",
             "city": "Paris" }

## CRUD Operations

### Creation

In [7]:
# Add the record to the collection
inserted_01 = test_col.insert_one(test_input_01)

In [8]:
print(inserted_01)
print(type(inserted_01))

InsertOneResult(ObjectId('66f3aac3132706f4ecd3033f'), acknowledged=True)
<class 'pymongo.results.InsertOneResult'>

In [9]:
print(inserted_01.inserted_id)

66f3aac3132706f4ecd3033f

In [10]:
inserted_02 = test_col.insert_many([{'surname': 'Auditore', 'address': '123, Parkway Drive', 'city': 'Florence'}, 
{'surname': 'Davenport', 'address': 'Davenport Homestead', 'city': 'New York'}])

In [11]:
print(inserted_02)
print(type(inserted_02))

InsertManyResult([ObjectId('66f3aade132706f4ecd30340'), ObjectId('66f3aade132706f4ecd30341')], acknowledged=True)
<class 'pymongo.results.InsertManyResult'>

In [12]:
print(inserted_02.inserted_ids)

[ObjectId('66f3aade132706f4ecd30340'), ObjectId('66f3aade132706f4ecd30341')]

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("historical_characters.csv")

In [15]:
df

                     surname       address          city
0   Alexander III of Macedon     Macedonia   Megalopolis
1            Cyrus the Great        Persia     Gushtaspa
2         Darius I of Persia        Persia          Susa
3               Genghis Khan      Mongolia  Orda Khanate
4          Amalia of Bavaria       Bavaria    Regensburg
5             Pope Julius II  Vatican City          Rome
6             Charles Martel       Francia         Tours
7   Ferdinand III of Castile       Castile       Segovia
8                Jiang Zhiye         China      Hangzhou
9          Abbas I of Persia        Persia        Tehran
10        Henry V of England       England        London
11          Francesco Sforza         Italy         Milan
12  Benedict XIII of Avignon        France       Avignon
13                    El Cid         Spain       Almería
14                 Tamerlane      Mongolia       Bukhara
15               Kublai Khan         China       Beijing
16      Sigismund of Hungary       Hungary     Pressburg
17         Juan II of Aragon        Aragon      Tarazona
18           René I of Anjou        France        Angers

In [16]:
test_dict = df.T.to_dict()

In [17]:
print(test_dict)

{0: {'surname': 'Alexander III of Macedon', 'address': 'Macedonia', 'city': 'Megalopolis'}, 1: {'surname': 'Cyrus the Great', 'address': 'Persia', 'city': 'Gushtaspa'}, 2: {'surname': 'Darius I of Persia', 'address': 'Persia', 'city': 'Susa'}, 3: {'surname': 'Genghis Khan', 'address': 'Mongolia', 'city': 'Orda Khanate'}, 4: {'surname': 'Amalia of Bavaria', 'address': 'Bavaria', 'city': 'Regensburg'}, 5: {'surname': 'Pope Julius II', 'address': 'Vatican City', 'city': 'Rome'}, 6: {'surname': 'Charles Martel', 'address': 'Francia', 'city': 'Tours'}, 7: {'surname': 'Ferdinand III of Castile', 'address': 'Castile', 'city': 'Segovia'}, 8: {'surname': 'Jiang Zhiye', 'address': 'China', 'city': 'Hangzhou'}, 9: {'surname': 'Abbas I of Persia', 'address': 'Persia', 'city': 'Tehran'}, 10: {'surname': 'Henry V of England', 'address': 'England', 'city': 'London'}, 11: {'surname': 'Francesco Sforza', 'address': 'Italy', 'city': 'Milan'}, 12: {'surname': 'Benedict XIII of Avignon', 'address': 'France', 'city': 'Avignon'}, 13: {'surname': 'El Cid', 'address': 'Spain', 'city': 'Almería'}, 14: {'surname': 'Tamerlane', 'address': 'Mongolia', 'city': 'Bukhara'}, 15: {'surname': 'Kublai Khan', 'address': 'China', 'city': 'Beijing'}, 16: {'surname': 'Sigismund of Hungary', 'address': 'Hungary', 'city': 'Pressburg'}, 17: {'surname': 'Juan II of Aragon', 'address': 'Aragon', 'city': 'Tarazona'}, 18: {'surname': 'René I of Anjou', 'address': 'France', 'city': 'Angers'}}

In [18]:
inserted_03 = test_col.insert_many(test_dict)

TypeError: documents must be a non-empty list

In [19]:
import json

In [20]:
test_records = json.loads(df.T.to_json()).values()

In [21]:
print(test_records)

dict_values([{'surname': 'Alexander III of Macedon', 'address': 'Macedonia', 'city': 'Megalopolis'}, {'surname': 'Cyrus the Great', 'address': 'Persia', 'city': 'Gushtaspa'}, {'surname': 'Darius I of Persia', 'address': 'Persia', 'city': 'Susa'}, {'surname': 'Genghis Khan', 'address': 'Mongolia', 'city': 'Orda Khanate'}, {'surname': 'Amalia of Bavaria', 'address': 'Bavaria', 'city': 'Regensburg'}, {'surname': 'Pope Julius II', 'address': 'Vatican City', 'city': 'Rome'}, {'surname': 'Charles Martel', 'address': 'Francia', 'city': 'Tours'}, {'surname': 'Ferdinand III of Castile', 'address': 'Castile', 'city': 'Segovia'}, {'surname': 'Jiang Zhiye', 'address': 'China', 'city': 'Hangzhou'}, {'surname': 'Abbas I of Persia', 'address': 'Persia', 'city': 'Tehran'}, {'surname': 'Henry V of England', 'address': 'England', 'city': 'London'}, {'surname': 'Francesco Sforza', 'address': 'Italy', 'city': 'Milan'}, {'surname': 'Benedict XIII of Avignon', 'address': 'France', 'city': 'Avignon'}, {'surname': 'El Cid', 'address': 'Spain', 'city': 'Almería'}, {'surname': 'Tamerlane', 'address': 'Mongolia', 'city': 'Bukhara'}, {'surname': 'Kublai Khan', 'address': 'China', 'city': 'Beijing'}, {'surname': 'Sigismund of Hungary', 'address': 'Hungary', 'city': 'Pressburg'}, {'surname': 'Juan II of Aragon', 'address': 'Aragon', 'city': 'Tarazona'}, {'surname': 'René I of Anjou', 'address': 'France', 'city': 'Angers'}])

In [22]:
inserted_03 = test_col.insert_many(test_records)

### Reading

In [24]:
# Find a document
document = test_col.find_one({"name": "John"})
print(document)

None

In [25]:
# Find a document
document = test_col.find_one({"surname": "John"})
print(document)

None

In [26]:
# Find a document
document = test_col.find_one({"surname": "Charles"})
print(document)

None

In [27]:
# Find a document
document = test_col.find_one({"surname": "Charles Martel"})
print(document)

{'_id': ObjectId('66f3ab21132706f4ecd30348'), 'surname': 'Charles Martel', 'address': 'Francia', 'city': 'Tours'}

The output of `find_one` is a dictionary.

In [48]:
# Find a document
document = test_col.find({"surname": "Charles Martel"})
print(document)

<pymongo.synchronous.cursor.Cursor object at 0x11ad09850>

`find` returns a synchronous cursor object. The values in it cannot be directly printed.

In [49]:
print(list(document))

[{'_id': ObjectId('66f3ab21132706f4ecd30348'), 'surname': 'Charles Martel', 'address': 'Francia', 'city': 'Tours', 'age': ''}]

In [35]:
for doc in document:
    print(doc)

{'_id': ObjectId('66f3ab21132706f4ecd30348'), 'surname': 'Charles Martel', 'address': 'Francia', 'city': 'Tours'}

In [46]:
# Find a document
document = test_col.find({"address": "Persia"})
print(document)

<pymongo.synchronous.cursor.Cursor object at 0x11a82f5d0>

In [47]:
print(list(document))

[{'_id': ObjectId('66f3ab21132706f4ecd30343'), 'surname': 'Cyrus the Great', 'address': 'Persia', 'city': 'Gushtaspa', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd30344'), 'surname': 'Darius I of Persia', 'address': 'Persia', 'city': 'Susa', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd3034b'), 'surname': 'Abbas I of Persia', 'address': 'Persia', 'city': 'Tehran', 'age': ''}]

In [33]:
for doc in document:
    print(doc)

{'_id': ObjectId('66f3ab21132706f4ecd30343'), 'surname': 'Cyrus the Great', 'address': 'Persia', 'city': 'Gushtaspa'}
{'_id': ObjectId('66f3ab21132706f4ecd30344'), 'surname': 'Darius I of Persia', 'address': 'Persia', 'city': 'Susa'}
{'_id': ObjectId('66f3ab21132706f4ecd3034b'), 'surname': 'Abbas I of Persia', 'address': 'Persia', 'city': 'Tehran'}

In [45]:
# Find all documents in the collection
cursor = test_col.find()
print(list(cursor))

[{'_id': ObjectId('66f3aac3132706f4ecd3033f'), 'surname': 'Bonaparte', 'address': 'Cafe Theatre', 'city': 'Paris', 'age': ''}, {'_id': ObjectId('66f3aade132706f4ecd30340'), 'surname': 'Auditore', 'address': '123, Parkway Drive', 'city': 'Florence', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd30342'), 'surname': 'Alexander III of Macedon', 'address': 'Macedonia', 'city': 'Megalopolis', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd30343'), 'surname': 'Cyrus the Great', 'address': 'Persia', 'city': 'Gushtaspa', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd30344'), 'surname': 'Darius I of Persia', 'address': 'Persia', 'city': 'Susa', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd30345'), 'surname': 'Genghis Khan', 'address': 'Mongolia', 'city': 'Orda Khanate', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd30346'), 'surname': 'Amalia of Bavaria', 'address': 'Bavaria', 'city': 'Regensburg', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd30347'), 'surname': 'Pope Julius II', 'address': 'Vatican City', 'city': 'Rome', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd30348'), 'surname': 'Charles Martel', 'address': 'Francia', 'city': 'Tours', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd30349'), 'surname': 'Ferdinand III of Castile', 'address': 'Castile', 'city': 'Segovia', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd3034a'), 'surname': 'Jiang Zhiye', 'address': 'China', 'city': 'Hangzhou', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd3034b'), 'surname': 'Abbas I of Persia', 'address': 'Persia', 'city': 'Tehran', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd3034c'), 'surname': 'Henry V of England', 'address': 'England', 'city': 'London', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd3034d'), 'surname': 'Francesco Sforza', 'address': 'Italy', 'city': 'Milan', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd3034e'), 'surname': 'Benedict XIII of Avignon', 'address': 'France', 'city': 'Avignon', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd3034f'), 'surname': 'McCormac', 'address': "Pirate's Bay", 'city': 'Haiti'}, {'_id': ObjectId('66f3ab21132706f4ecd30350'), 'surname': 'Tamerlane', 'address': 'Mongolia', 'city': 'Bukhara', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd30351'), 'surname': 'Kublai Khan', 'address': 'China', 'city': 'Beijing', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd30352'), 'surname': 'Sigismund of Hungary', 'address': 'Hungary', 'city': 'Pressburg', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd30353'), 'surname': 'Juan II of Aragon', 'address': 'Aragon', 'city': 'Tarazona', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd30354'), 'surname': 'René I of Anjou', 'address': 'France', 'city': 'Angers', 'age': ''}]

In [54]:
# Filter documents by a specific field
filtered_documents = test_col.find({"address": "China"})
print(list(filtered_documents))

[{'_id': ObjectId('66f3ab21132706f4ecd3034a'), 'surname': 'Jiang Zhiye', 'address': 'China', 'city': 'Hangzhou', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd30351'), 'surname': 'Kublai Khan', 'address': 'China', 'city': 'Beijing', 'age': ''}]

In [55]:
# Filter documents by a specific field
filtered_documents = test_col.find({"address": {"$in":["China"]}})
print(list(filtered_documents))

[{'_id': ObjectId('66f3ab21132706f4ecd3034a'), 'surname': 'Jiang Zhiye', 'address': 'China', 'city': 'Hangzhou', 'age': ''}, {'_id': ObjectId('66f3ab21132706f4ecd30351'), 'surname': 'Kublai Khan', 'address': 'China', 'city': 'Beijing', 'age': ''}]

### Updation

In [37]:
# Update a document
updated_document = {"surname": "McCormac", "address": "Pirate's Bay", "city": "Haiti"}
test_col.replace_one({"surname": "Davenport"}, updated_document)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [43]:
test_col.find_one_and_replace({"surname": "El Cid"}, updated_document)

{'_id': ObjectId('66f3ab21132706f4ecd3034f'),
 'surname': 'El Cid',
 'address': 'Spain',
 'city': 'Almería',
 'age': ''}

### Deletion

In [44]:
# Delete a document
test_col.delete_one({"surname": "McCormac"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)